@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Roboto, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #FFF;
    background-color: #808080;
    width: 100%;
    opacity: 0.6;

}

div form {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 100px;
}

div form .inputarea {
    display: flex;
    opacity: 0.9;
    flex-direction: column;
}

div form .inputarea #input {
    resize: none;
    width: 300px;
    padding: 5px;
    border-radius: 7px;
}

div form .inputarea #date {
    padding: 10px;
    margin-top: 2px;
    border-radius: 5px;
}

div form .buttons {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

div form .buttons .button {
    width: 130px;
    height: 80px;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    transition: filter 0.3s;
}


div form .buttons .button:hover{
    filter: brightness(90%);
}

div form .buttons .button:first-child {
    background-color: #15a715;
}

div form .buttons .button:not(:first-child){
    background-color: #e22323;
    margin-top: 3px;
}


body #tasks-container {
    margin-top: 50px;
    min-width: 75%;
    max-width: 90%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 25%);

}

body #tasks-container div {
    background-color: #FFF;
    color: #000;    
    border-radius: 8px;
    padding: 8px; 
    border: solid 1px #000;
    
}

body #tasks-container div h1{
    opacity: 1;
}

body #tasks-container div p { 
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;
}

body #tasks-container div p:last-child {
    text-align-last: center;
}
