*{
    outline: 0;
    padding: 0;
    margin: 0;
}

body{
    margin: 0px;
}
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo-container img {
    width: 50px;
    height: 52px;
}

.logo-container span {
    margin-left: 8px;
    font-size: 22px;
    font-weight: 600;
    width: 130px;
    height: 80px;
}

.container form {
    display: flex;
    width: 300px;
    height: 350px;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 8px;
    padding: 20px 15px 0;
}

.container form label {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.container form input {
    border: 0;
    font-size: 16px;
    padding: 10px;
    margin-top: 5px;
    opacity: 0.7;
    border-bottom: 2px solid #000;
}

.container form button {
    margin-top: 15px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
    padding: 15px;
    background-color: #34c7c7;

}

.container form p{
    margin-top: 15px;
}

.container form p span{
    cursor: pointer;
    color: blue;
    text-decoration: underline blue solid;
}

::-webkit-input-placeholder {
    color: #000;
}